.main {
  min-height: 10rem;
  border-radius: 5px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 24.5rem;
  overflow-y: auto;
}

.todo-list-container::-webkit-scrollbar {
  width: 7px;
  background-color: hsl(234, 39%, 85%);
  border-radius: 10px;
}

.todo-list-container::-webkit-scrollbar-thumb {
  background-color: hsl(234, 11%, 52%);
  border-radius: 10px;
}

.todo-list-container .todo-placeholder {
  width: 100%;
  border-bottom: 1px solid;
}

.todo-list-container .todo-item {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  border-bottom: 1px solid;
  width: 100%;
}

.todo-list-container .todo-item.dragging {
  position: absolute;
  max-width: 570px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.todo-item .todo-complete-wrapper,
.todo-item .todo-content-wrapper {
  padding: 1.2rem 0;
}

.todo-item .todo-complete:hover {
  background: var(--check-background);
}

.todo-item .todo-complete input {
  cursor: pointer;
}

.todo-item .todo-content-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.todo-item .todo-content-wrapper:active {
  cursor: grab;
}

.todo-item .todo-content-wrapper:hover .remove-todo {
  opacity: 1;
}

.todo-content-wrapper .remove-todo {
  opacity: 0;
  transition: 0.3s ease-in;
}

.todo-content-wrapper .todo-content {
  font-size: 1.2rem;
}

.todo-options {
  font-size: 0.85rem;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todo-options .todo-info {
  font-size: 0.75rem;
}

.todo-options .filter-todos {
  display: flex;
}

.todo-options p:not(.todo-info) {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filter-todos p:not(:last-child) {
  margin-right: 1rem;
}

.filter-todos p.active-filter {
  color: var(--primary-blue);
}

body.dark .main {
  background-color: hsl(235, 24%, 19%);
}

body.light .main {
  background-color: hsl(0, 0%, 98%);
}

body.dark .todo-list-container .todo-item {
  background-color: hsl(235, 24%, 19%);
  border-color: hsl(233, 14%, 35%);
}

body.light .todo-list-container .todo-item {
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(233, 11%, 84%);
}

body.dark .todo-list-container .todo-placeholder {
  background-color: hsl(235, 24%, 19%);
  border-color: hsl(233, 14%, 35%);
}

body.light .todo-list-container .todo-placeholder {
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(233, 11%, 84%);
}

body.dark .todo-options {
  color: hsl(234, 11%, 52%);
}

body.light .todo-options {
  color: hsl(236, 9%, 61%);
}

body.dark .todo-options .clear-complete:hover,
body.dark .filter-todos p:not(.active-filter):hover {
  color: hsl(234, 39%, 85%);
}

body.light .todo-options .clear-complete:hover,
body.light .filter-todos p:not(.active-filter):hover {
  color: hsl(235, 19%, 35%);
}
