.main {
  min-height: 10rem;
  border-radius: 5px;
  background-color: var(--main-background);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 24.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.todo-list-container::-webkit-scrollbar {
  width: 7px;
  background-color: var(--main-text-color);
  border-radius: 10px;
}

.todo-list-container::-webkit-scrollbar-thumb {
  background-color: hsl(234, 11%, 52%);
  border-radius: 10px;
}

.todo-list-container .todo-placeholder {
  flex-shrink: 0;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--main-background);
}

.todo-list-container .todo-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1.2rem;
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--main-background);
}

.todo-list-container .todo-item.dragging {
  position: absolute;
  max-width: 570px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.todo-item > * {
  padding: 1.2rem 0;
}

.todo-item .todo-complete:hover {
  background: var(--check-background);
}

.todo-item .todo-complete input {
  cursor: pointer;
}

.todo-item .todo-content:hover + .remove-todo,
.todo-item .remove-todo:hover {
  opacity: 1;
}

.todo-item .remove-todo {
  opacity: 0;
  cursor: pointer;
  padding-left: 0.5rem;
  margin-left: auto;
  transition: 0.3s ease-in;
}

.todo-item .todo-content {
  flex: 1;
  font-size: 1.2rem;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.todo-item .todo-content:active {
  cursor: grab;
}

.todo-options {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--secondary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todo-options .todo-info {
  font-size: 0.75rem;
}

.todo-options .filter-todos {
  display: flex;
}

.todo-options p:not(.todo-info) {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filter-todos p:not(:last-child) {
  margin-right: 1rem;
}

.filter-todos p.active-filter {
  color: var(--primary-blue);
}

.todo-options .clear-complete:hover,
.filter-todos p:not(.active-filter):hover {
  color: var(--main-text-color);
}
